<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <script type="application/javascript" src="../../js/validationDriverForm.js"></script>
    <script type="application/javascript" src="../../js/validationGokartForm.js"></script>
    <script type="application/javascript" src="../../js/validationDriverGokartForm.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Karting Racing</title>
</head>
<body>

<div class="top-menu">
    <header>
        <div class="header-content">
            <div class="header-left">
                <div class="logo_div">
                    <img src="../../images/logo.png" alt="Karting Racing Logo" id="logo">
                </div>

                <div class="quote">
                    <div class="quote-mark">“</div>
                    <div class="quote-content">
                        <div class="quote-text">If you’re in control, you’re not going fast enough.</div>
                        <div class="quote-author">— Parnelli Jones</div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="button-register">Register</div>
                <div class="button-login">Login</div>
            </div>
        </div>
    </header>

    <nav>
        <div class="nav-content">
            <ul class="nav-list">
                <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>">Strona główna</a></li>
                <li><a href="/drivers" class="<%= navLocation === 'driver' ? 'active' : ''%>">Kierowcy</a></li>
                <li><a href="/gokarts" class="<%= navLocation === 'gokart' ? 'active' : ''%>">Gokarty</a></li>
                <li><a href="/driverGokarts" class="<%= navLocation === 'driverGokart' ? 'active' : ''%>">Przejazdy</a></li>
            </ul>
        </div>
    </nav>
</div>
